<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">

<div class ='top'>
<a href="/logout/">Log Out</a>
<a href="/">Home</a>
</div>

<h2>Welcome:{{ user.username }} to Blogawy</h2>
<h2>Blogs:-</h2>
<body>
{% if blogs %}
    <ul>
    {% for blog in blogs %}
        <li>
       		<a href="/{{ blog.id }}/" >{{ blog.owner.username }}'s Blog:</a>
       		{% if blog.user == user %}
       			<a href="/{{ blog.id }}/delete/">Delete Blog</a>
       		{% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No blogs are available.</p>
{% endif %}

<a href="/create/" >Create your own blog</a>
</body>